@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;900&family=Yusei+Magic&display=swap');

/* NORMALIZE */

:root {

    /* fuentes */
    --font-primary: 'Yusei Magic', sans-serif;
    --font-secondary:'Montserrat', sans-serif;
    --font-alternative: 'Roboto Slab', serif;

    /* sizes */
    --text-large: 4.2em;
    --text-medium: 3em;
    --text-small: 1.8em;
    --text-xsmall: 1.2em;

    /* spaces */
    --spacing-large: 10rem;
    --spacing-medium: 5rem;
    --spacing-small: 2.4rem;
    --spacing-xsmall: .5rem;

    /* colors */
    --primary: #1994D7;
    --secondary: #0470AB;
    --alternative: #498467;
    --text-color: #1F3451;
    --text-color-secondary: #66788E;
    --base: #F0EDEE;
    --details: #0033CC;
    --color-hover: #7d111f;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAV-BAR STYLE */

#nav-bar {
    display: flex;
    border-bottom-style: outset;
    margin: 5%;        
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav-bar--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.nav-bar--flex img {
    width: 5vw;
    margin-left: 5rem;
    margin: .5rem;
    filter: drop-shadow(5px 1px 6px #5b5555);
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 60vw;
    font-size: var(--text-small);
}

.menu__link {    
    margin: 1rem;    
    color: snow;
    text-decoration: none;
    transition: all .5s;
}

.menu__link:hover {
    background-color: var(--color-hover);
    border-bottom-style: inset;
    border-radius: 7rem;
    transform: scale(1.5, 1.5);
}

/* STYLE DE TITLE */

h1 {
    text-align: center;
    font-size: var(--text-large);
    margin-bottom: var(--spacing-medium);
}

h1 span {
    color: var(--color-hover);
    text-decoration: underline;
}

/* STYLE DE CARDS */

.cards {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    gap: var(--spacing-medium);
    padding: var(--spacing-medium);
}

.cards h3 {
    color: var(--color-hover);
    font-size: var(--text-small);
    text-decoration: underline;
    
}

.cards div {
    padding: 0 var(--spacing-medium);
    font-size: var(--text-xsmall);
}

.magic_kingdom {
    display: flex;
    flex-direction: row;
    grid-area: 1/1/2/2;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hollywood_studios {
    display: flex;
    flex-direction: row;
    grid-area: 2/1/3/2;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.animal_kingdom {
    display: flex;
    flex-direction: row;
    grid-area: 3/1/4/2;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.epcot {
    display: flex;
    flex-direction: row-reverse;
    grid-area: 1/3/2/4;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.universal {
    display: flex;
    flex-direction: row-reverse;
    grid-area: 2/3/3/4;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.island_of_adventure {
    display: flex;
    flex-direction: row-reverse;
    grid-area: 3/3/4/4;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* STYLE DE FOOTER */

#footer {
    background-color: var(--secondary);
    text-align: center;
    font-size: var(--text-small);
    border-top-style: outset;
}


/* mediaquery 480px - celular */

@media only screen and (max-width: 480px) {

}