//  Style Footer

.footer {
    min-height: 10rem;
    width: 100%;
    background-color: #397a6f;
    box-shadow: 0 0 5rem 2rem #369b8b;
    margin-top: $spacing-medium;
    @include flex(row, space-evenly, center, 1rem);
    & p {
        text-align: center;
        width: 80%;
    }
    & .destacado {
        @include destacado(#f79400, italic, bold)
    }
    &__redes {
        @include flex(row, flex-end, center, 2rem);
        width: 40%;
        margin-right: 3%;
        & img {
            width: 4rem;
        }
    }

}