// Style Home

.welcome__index {
    @include flex(column, center, center, 0);
    text-align: center;
    background-image: url(../img/GE_cover.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    & h1 {
        font-size: map-get($font-sizes, text-xlarge);
        font-family: $font-names;
        backdrop-filter: blur(.8rem);
        border-radius: 5rem;
        position: absolute;
        width: fit-content;
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin: $spacing-medium auto;
    width: 95vw;
    & a {
        text-decoration: none;
    }
    & img {
        max-width: 85vw;
    }
    & .card--mk {
        grid-column: 1/7;
        grid-row: 1/2;
    }
    & .card--ak {
        grid-column: 1/7;
        grid-row: 2/3;
    }    
    & .card--us {
        grid-column: 1/7;
        grid-row: 3/4;
    }    
    & .card--hs {
        grid-column: 7/13;
        grid-row: 1/2;
    }    
    & .card--e {
        grid-column: 7/13;
        grid-row: 2/3;
    }    
    & .card--ioa {
        grid-column: 7/13;
        grid-row: 3/4;
    }
    &__cards--left {
        @include flex(row, flex-start, center, 0);
        background: #ffffff40;
        box-shadow: 0 .5rem 2rem 0 #1f26875e;
        backdrop-filter: blur(.4rem);
        border-radius: 2rem;
        border: 1px solid #ffffff2e;
    }
    &__cards--right {
        @include flex(row-reverse, flex-start, center, 0);
        background: #ffffff40;
        box-shadow: 0 .5rem 2rem 0 #1f26875e;
        backdrop-filter: blur(2rem);
        border-radius: 2rem;
        border: 1px solid #ffffff2e;
    }
    &__cards--img {
        border-radius: 2rem;
        box-shadow: 0 .8rem 3.5rem .4rem #98fcff88;
    }
    &__cards--content {
        @include flex(column, center, center, 2rem);
        margin: 0 4rem;
        line-height: 1.5;
        h2 {
            color: map-get($colors, orange-primary);
        }
        .destacado {
            @include destacado(#8ef2ff, italic, normal);
        }
    }
}