
// Normalize

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-principal;
    font-size: map-get($font-sizes, text-small);
    color: map-get($colors, text-color);
    background-color: map-get($colors, base);
}