
    // Variables

    /* Font Family */

    $font-principal: 'Montserrat', sans-serif;
    $font-secondary: 'Roboto Slab', serif;
    $font-alternative: 'Architects Daughter', cursive;
    $font-title: 'Bubblegum Sans', cursive;
    $font-names: 'Chelsea Market', cursive;

    /* Font Sizes */

    $font-sizes: (
        text-xlarge: 6rem,
        text-large: 4rem,
        text-medium: 2.4rem,
        text-intermidiate: 2rem, 
        text-small: 1.6rem,
        text-xsmall: 1.2rem,
        text-minimal: .7rem
    );

    /* Colors */
    
    $colors: (
        red-primary: #dc143c,
        red-secondary: #b22222,
        red-alternative: #cd5c5c,
        green-primary: #1ab28a,
        green-secondary: #32cd32,
        green-alternative: #228b22,
        orange-primary: #ffa07a,
        orange-secondary: #ff6347,
        orange-alternative: #ff4500,
        blue-primary: #7fffd4,
        blue-secondary: #5f9ea0,
        blue-alternative: #4a62d8,
        text-color: snow,
        text-color-alternative: #2f4f4f,
        base: #00103a,
        base-secondary: #338f8ff7,
        base-alternative: #6b1000,
        details: #fcc40b
    );

    /* Spacings */

    $spacing-medium: 10rem;
    $spacing-small: 5rem;
    $spacing-xsmall: 2.4rem;
    $spacing-tiny: 1rem;



    @each $font-sizes, $value in $font-sizes {
        .#{$font-sizes} {
            font-size: #{$value};
        }
    }

    @each $colors, $value in $colors {
        .#{$colors} {
            color: #{$value};
        }
    }